* {
	background-color: #292C36;
	color: #D3D0CF;
	font-family: SANS-SERIF;
	margin-right: auto;
	margin-left: auto;
}
.banner {
	width: 60%;
	height:20em;
	display:block;
	margin:auto;

}
img {
	width:50%;
}
.navigation {
	border: 2px solid white;
	padding:20px 80px;
	margin: 20px 0px;
	margin-left:1em;
	display:inline-block;
}
#profilebox {
	margin:auto;
	height:20%;
	width:80%;
	margin-left:5%;
}
img#profile {
	display:block;
	width:40%;	
}
#intro {
	display:inline-block;
}
div div {
	float:left;
	width:50%;
}
footer {
	clear:both;
	text-align: center
}
a:link {
	text-decoration: none;
}
a:visited{
	color:red;
}
a:hover{
	font-weight: bold;
}