.header {
	text-align:center;
}
 
section {
	margin-left:15%;
	margin-right:15%;
}
h3 {
	text-align:center;
}

#page_nav {
	text-align:center;
}
img {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	display: block;
	padding:5px;
}
code {
	display: block;
	margin-left: 5%;
}
pre {
	white-space: pre-wrap;
	margin:1em;
	display:block;
}

main {
	font-family: 'Merriweather', serif;
	font-size: 1em;
}